.jumbotron {
    padding: 0 0 6px 0;
}

#map {
    width: 100%;
    top: 5px;
    bottom: 0;
    background-color: blue;
    position: absolute;
    float: left;
}

#specialsList {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

    #specialsList .card {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: xx-large;
        background-color: aliceblue;
        border: 3px solid black;
        border-radius: 10px;
        width: 100%;
    }

#specialsHeader {
    margin: 1.5rem 0;
}

#searchBar {
    margin: 0;
    
    padding: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;
}

#searchBar label {
    margin-right: 10px;
}

#SearchMinPrice, #SearchMaxPrice, #SearchMinYear, #SearchMaxYear {
    height: 60px;
    width: auto;
    padding: 0 5px;
    max-width: 200px;
    min-width: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: white;
    margin-right: 10px;
}

#SearchArg {
    height: 60px;
    min-width: 200px;
    max-width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: black;
    background-color: white;
    border: gray solid 3px;
    
}
#searchButton {
    width: 200px;
    max-width: 200px;
    height: 60px;
    margin-top: 10px;
}

address {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

#contactForm {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#contactForm .form-group {
    margin-bottom: .25rem;
}
    #contactForm input {
        font: inherit;
        max-width: 600px;
    }

    #contactForm textarea {
        max-width: 600px;
        height: auto;
        font: inherit;
    }



#inventoryList {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

    #inventoryList .card {
        font: inherit;
        background-color: aliceblue;
        border: 3px solid black;
        border-radius: 10px;
        width: 100%;
    }

    #inventoryList label {
        width: 100%;
        min-width: 100px;
        max-width: 150px;
        height: 60px;
        text-align: right;
        margin-right: 5px;
        font: inherit;
        
    }

    #inventoryList a {
        width: 300px;
        max-width: 300px;
        height: 60px;
        margin-top: 10px;
        font: inherit;
         
    }

#inventoryHeader {
    margin: 1.5rem 0;
}

.vdivide {
    border-left-width: 1px;
    border-left-color: black;
    border-left-style: solid;
    margin-right: 1rem;
}

   
#navbarNav a:focus, a:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: lightcyan;
}


.nav-link {background-color: gainsboro}

#navbarNav .active a {
    background-color: lightgreen;
    color: black;
}

.active >   a {
    color: red;
}


/* .squaredTwo */
.squaredTwo {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
}
.squaredTwo label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 white;
}
.squaredTwo label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
    opacity: 0.3;
}
.squaredTwo input[type=checkbox] {
    visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
    opacity: 1;
    background-color: whitesmoke;
}

#labelFeatured {
    font-size: x-large;
}
/* end .squaredTwo */
#editVehicleForm {
    font-size: x-large;
}
#labelDescription {
    font-weight: bold;
    font-size: x-large;
    vertical-align: middle;
    color: rebeccapurple;
    height: 60px;
    width: auto;
     
    text-align: left;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#editVerticalForm input {
    padding: 0;
    display: inline-flex;
    background-color: whitesmoke;
    width: 100%;
}
    #editVehicleForm .form-control {
        background-color: whitesmoke;
        font-size: x-large;
        vertical-align: middle;
        height: 60px;
        width: 100%;
        padding: 0;
        padding-left: 3px;
    }

    #editVehicleForm  .form-control-label {
       
        font-weight: bold;
        font-size: x-large;
        vertical-align: middle;
        color: rebeccapurple;
        height: 60px;
       
        width: 100%;
      
      
        margin-right: 1em;
        text-align: right;

        align-items: flex-end;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      
    }

    
   
    

#editVerticalForm > #labelDescription {
    text-align: left;
}

 .ck-editor__main {
    background-color: whitesmoke;
}

 .fancybox-image-wrap {
     width: 80%;
     height: 80%;
     background-color: red;

 }

/*#content p {
    text-indent: 20px;
    text-align: justify;
}

#pagingControls ul {
    display: inline;
    padding-left: 0.5em
}

#pagingControls li {
    display: inline;
    padding: 0 0.5em
}*/
.pagination .page-item {
    font-size: x-large;
    border: 2px ridge red; 
}

.pagination .page-link {
    background-color: lightcyan;
    font-size: 1.2rem;
    border: .1rem;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
