@{
    ViewBag.Title = "Contact Us";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h2 class="display:7">@ViewBag.Title.</h2>

        </div>
    </div>
    <div class="row" style="font-size: 18px; display: flex;">
        <div class="col-md-2">
            <p></p>
            <address>
                252 E. Market Street<br />
                Louisville, KY 40202<br />
                <abbr title="Phone">P:</abbr>
                502.555.1234
            </address>


        </div>
        <div class="col-md-4" id="contactForm">
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <label for="inputName" class="col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPhone" class="col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPhone" placeholder="(000) 555-1234">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputMessage" class="col-form-label">Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="inputMessage" placeholder="Message" rows="10">
                            </textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4">
            <div id="map" class="col" style="width: 100%; min-height: 300px;  background-color: grey;">

            </div>
        </div>
    </div>
</div>


<script>
    function initMap() {
        var guild = { lat: 38.2539326, lng: -85.7485225 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: guild
        });
        var marker = new google.maps.Marker({
            position: guild,
            map: map
        });
        var circle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.15,
            map: map,
            center: guild,
            radius: 200
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8iKImK2HWvzu_EVjO48a0m6t3qXuLW80&callback=initMap">
</script>
