@using GuildQuest.UI.Models
@model InventoryViewModel

<div class="rgba-blue-light">

    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="mt-3"><h1><strong>@ViewBag.Message</strong></h1></div>
        </div>

        <div class="my-3 ml-2 row h3">
            <u>
                @Html.ActionLink(
                                           linkText: "Add a new vehicle",
                                           actionName: "AddVehicle",
                                           controllerName: "Admin",
                                           routeValues: null,
                                           htmlAttributes: new
                                           {
                                               @class = "hm-green-light  "
                                           }
                                           )
            </u>
        </div>

        @Html.Partial("_SearchPartial", Model.SearchParms)

        <div class="row justify-content-center my-3">
            <div id="inventoryHeader"><h1><strong>Search Results</strong></h1></div>
        </div>
        <nav class="pagingControls">

        </nav>
        <div class="list-group" id="inventoryList">
            @foreach (VehicleViewModel vehicle in Model.Vehicles)
        {

            @Html.Partial("_InventoryPartial", @vehicle)

                    }
        </div>
        <nav class="pagingControls">

        </nav>
    </div>
</div>


    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    toolbar: false,
                    smallBtn: true,
                    iframe: {
                        preload: false
                    },
                    afterClose: function () {
                        $(this.href).show();
                        $(this.href).css("display", "block");

                    }
                });
                $('[data-fancybox]').fancybox({
                    toolbar: false,
                    smallBtn: true,
                    iframe: {
                        preload: false
                    }
                });
            });


        </script>

       
    }


