@using GuildQuest.UI.Models
@model InventoryViewModel

@{
    ViewBag.Title = "Vehicle Details";
    ViewBag.Source = "Detail";
}
<div style="background-color: whitesmoke">
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="mt-3"><h1><strong>@ViewBag.Message</strong></h1></div>
        </div>
        <div class="list-group card-outline-warning" id="inventoryList">
            @Html.Partial("_InventoryPartial", @Model)
        </div>
    </div>
</div>
